<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/registercss.css"   type="text/css" > 

</head>




<body>
    <form action="/api/user/signup" method="POST" class="form">
        <div>
            <%if(error.length){%>

                <h3 style="color: red;"><%=error[0].msg%></h3>
        
            <%}%>
        </div>


        <div>
            <label for="">Name:</label>
            <input type="text" name="name" value="<%=name%>" style="color: black">
        </div>

        <div>
            <label for="">Email:</label><br/>
            <input type="email" name="email" value="<%=email%>" style="color: black">
        </div>

        <div>
            <label for="">Phone:</label>
            <input type="number" name="phone" value="<%=phone%>" style="color: black">
        </div>

        <div>
            <label for="">Password:</label>
            <input type="password" name="password" value="<%=password%>" style="color: black">
        </div>

        <div>
            <label for="">Conform Password:</label>
            <input type="password" name="cpassword" style="color: black">
        </div>
    <input type="submit" class="submit" value="SignUp">
    <p>Have a account already <a href="/" >Login</a></p>
    </form>
   




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</body>
</html>